<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Your Titles</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <div class="all-CDs-body">
        <div class="all-CDs-header">
            <h1>Your CDs</h1>
            <a class="add-CD-link" href="/users/<%=user._id%>/musicCDs/new">Add A CD</a>
        </div>
        <ul>
            <% myCDs.forEach((myCD)=>{ %>
            <a href="/users/<%= user._id %>/musicCDs/<%= myCD._id %>">
                <li><%= myCD.artist %> - <%= myCD.album %></li>
            </a>
            <% }) %>
        </ul>   
    </div>   
</body>

</html>