<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Titles</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Tiltes</h1>
    <a href="/users/<%=user._id%>/musicCDs/new">Add A CD</a>
    <ul>
        <% myCDs.forEach((myCD)=>{ %>
        <li>
            <a href="/users/<%= user._id %>/musicCDs/<%= myCD._id %>">
            <%= myCD.artist %> - <%= myCD.album %>
            </a>
        </li>
        <% }) %>
    </ul>
</body>

</html>